@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 11% 16%;
    --foreground: 0 0% 100%;
    
    --card: 216 11% 16%;
    --card-foreground: 0 0% 100%;
    
    --popover: 216 11% 16%;
    --popover-foreground: 0 0% 100%;
    
    --primary: 155 90% 58%;
    --primary-foreground: 216 11% 16%;
    
    --secondary: 216 11% 25%;
    --secondary-foreground: 0 0% 98%;
    
    --muted: 216 11% 25%;
    --muted-foreground: 216 5% 64.9%;
    
    --accent: 216 11% 25%;
    --accent-foreground: 0 0% 98%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 216 11% 25%;
    --input: 216 11% 25%;
    --ring: 155 90% 58%;
    
    --radius: 0.5rem;
  }

  .dark {
    --background: 216 11% 16%;
    --foreground: 0 0% 100%;
    --card: 216 11% 16%;
    --card-foreground: 0 0% 100%;
    --popover: 216 11% 16%;
    --popover-foreground: 0 0% 100%;
    --primary: 155 90% 58%;
    --primary-foreground: 216 11% 16%;
    --secondary: 216 11% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 216 11% 25%;
    --muted-foreground: 216 5% 64.9%;
    --accent: 216 11% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 11% 25%;
    --input: 216 11% 25%;
    --ring: 155 90% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
